a{
    text-decoration: none;
}


body{
    background-color:white;

}
p{
    font-family:  cursive;
    font-size: 20px;
    
}
a{
    color:rgb(206, 59, 76);
    font-family: sans-serif;
    font-size: 17px;

}
