a{
    text-decoration: none;
}
p{
    font-family: alice;
    font-size: 23px;
    color:rgb(22, 156, 143);
}
a{
    color:rgb(206, 59, 76);
    font-family: sans-serif;
    font-size: 17px;

}