a{
    text-decoration: none;
}

body{
    background-color: white;
}
a{
    color:rgb(206, 59, 76);
    font-family: sans-serif;
    font-size: 17px;

}
a{
    color:rgb(206, 59, 76);
    font-family: sans-serif;
    font-size: 17px;

}